<%= form_for @order do |form| %>
  <%= error_messages_for(form) %>

  <div class="form-group">
    <%= label_tag :address1 %><br>
    <%= form.text_field :address1, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :address2 %><br>
    <%= form.text_field :address2, class: 'form-control' %>
  </div>

  <div style="display:flex">
    <div class="form-group" style="margin-right:15px">
      <%= label_tag :city %><br>
      <%= form.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group" style="margin-right:15px">
      <%= label_tag :state %><br>
      <%= form.select :state, [''] + %w(AK AL AR AZ CA CO CT DC DE FL GA HI IA ID IL IN KS KY LA MA MD ME MI MN MO MS MT NC ND NE NH NJ NM NV NY OH OK OR PA RI SC SD TN TX UT VA VT WA WI WV WY), {}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :zip %><br>
      <%= form.text_field :zip, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group actions">
    <%= button_tag 'Place Order', class: 'btn btn-success' %>
  </div>
<% end %>
