<h1>Order <%= @order.id %></h1>

<dl>
  <dt>User</dt>
  <dd><%= @order.user.email %></dd>
  <% if @order.complete? %>
    <dt>Placed</dt>
    <dd><%= @order.created_at %></dd>
  <% end %>
  <dt>Address</dt>
  <dd>
    <%= @order.address1 %><br>
    <% if @order.address2.present? %><%= @order.address2 %><br><% end %>
    <%= @order.city %>, <%= @order.state %> <%= @order.zip %>
  </dd>
</dl>

<table class="table">
  <tbody>
    <% @selections.each do |selection| %>
      <tr>
        <td><%= link_to selection.product.name, selection.product %></td>
        <td class="text-right">$<%= '%0.02f' % selection.product.cost %></td>
      </tr>
    <% end %>
    <tr>
      <td>Tax</th>
      <td class="text-right">$<%= '%0.02f' % @order.tax %></td>
    </tr>
    <tr>
      <td>Shipping</th>
      <td class="text-right">$<%= '%0.02f' % @order.shipping %></td>
    </tr>
    <tr>
      <td>Total</th>
      <td class="text-right">$<%= '%0.02f' % @order.total %></td>
    </tr>
  </tbody>
</table>

<% if @order.pending? %>
  <%= form_for @order do |form| %>
    <%= button_tag 'Place Order', value: 'place', class: 'btn btn-success' %>
  <% end %>
<% end %>
