<!DOCTYPE html>
<html>
  <head>
    <title>You should buy stuff now.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-sm-6 col-sm-offset-3">
      <nav>
        <%= link_to 'products', products_path %>
        &middot;
        <%= link_to 'cart', cart_path %>
      </nav>

      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
